#board-grid {
    -fx-background-color: black;
}

#board-coord-label {
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-text-fill: white;
	-fx-background-color: rgb(60,70,95);
}


#board-tile-black {
    -fx-fill: rgb(125,145,190);
}

#board-tile-white {
    -fx-fill: rgb(240,240,240);
}

#board-tile-black-selected {
    -fx-fill: yellow;
}

#board-tile-white-selected {
    -fx-fill: yellow;
}

#board-tile-black-dropTarget {
    -fx-fill: green;
}

#board-tile-white-dropTarget {
    -fx-fill: lightgreen;
}

